<configuration>
  <system.webServer>
    <rewrite>
      <rules>
      <clear /> <!-- Imperative Step, otherwise IIS will throw err -->
        <rule name="Vue Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/LearningFE/FirstFE" />
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
	    <customHeaders>
		    <add name="X-Frame-Options" value="SAMEORIGIN" />
		    <add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
		    <add name="X-Content-Type-Options" value="nosniff" />
	    </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>